/data/
/code/testing/gis/
/code/data processing/build/ERA52ARL.MESSAGE
/code/data processing/era5/MESSAGE
/code/data processing/era5/WARNING
/code/data processing/era5/arldata.cfg
/code/data processing/era5/era52arl.cfg
/code/data processing/era5/ERA52ARL.CFG
/papers/
*.png
/plots
/code/simulation/__pycache__/